//         bohaterowie        

.important-hero {

  &__title {
    margin: 20px 0 15px 0;
    font-size: 30px;

    &--makbet {
      font-size: 36px;
      text-shadow: 2px 2px #000;
    }
  }

  p {
    :first-child {
      margin-top: 15px;
    }

    &:last-child {
      padding-bottom: 10px;
    }
  }
}

.regular-hero {

  &__title {
    font-size: 27px;
    font-weight: 700;
    margin: 19px 0 0 0;
    text-shadow: .5px .5px #000;
  }

  & p {
    &:last-child {
      margin-bottom: 20px;
    }

    &:first-child {
      margin-top: 9px;
    }
  }
}