// quiz

.download-game {
  // flex container
  display: flex;
  justify-content: center;
  justify-items: center;

  &__image {
    transition: opacity .1s ease-in-out;
    padding: 10px;
    border-radius: 50px;

    @media (max-width: $medium) {
      // width: 200px;
    }

    &:hover {
      opacity: 0.55;
    }
  }
}

.quiz-hr {
  margin: 20px 0;
}

.bigger-font-size {
  font-size: 22px;
}

#download-instruction>li {
  font-size: 20px;
}

.redColor {
  color: #ff1c1c;
  font-weight: 600;
}