// quiz

.download-game {
  // flex container
  display: flex;
  justify-content: center;
  justify-items: center;

  &__image {
    transition: opacity .1s ease-in-out;
    border-radius: 50px;
    width: 100%;

    &:hover {
      opacity: 0.55;
    }
  }
}

.hr--quiz {
  margin: 20px 0;
}

.bigger-font-size {
  font-size: 22px;
}

.download-instruction {
  margin-left: 20px;

  & li {
    font-size: 20px;
  }
}

.span {

  &--red {
    color: #ff1c1c;
    font-weight: 600;
  }
}