// streszczenie - summary

.credits-important {
  margin-top: 30px;
  text-align: center;
  text-shadow: 1.5px 1.5px #000;
  color: #FF1E00;
  font-size: 31px;
  font-weight: 700;

  @media (max-width: $medium) {
    font-size: 28px;
  }

  & a {
    color: #FF1E00;
    text-decoration: underline;

    &:hover {
      color: #E20E00;
    }
  }
}

.credits-info {
  text-align: center;
  margin-bottom: 30px;
  font-size: 22px;

  & a {
    text-decoration: none;
    color: #12DE00;

    &:hover {
      text-decoration: underline;
      color: #12DE00;
    }
  }
}

.summary-intro {
  font-size: 24px;
  text-align: center;
  margin-bottom: 15px;
  margin-top: 30px;
}

.schedule-of-events {
  margin-left: 35px;
  margin-bottom: 10px;

  & li {
    padding-bottom: 10px;

    &:last-child {
      padding-bottom: 20px;
    }
  }
}