@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?16966021');
  src: url('../font/fontello.eot?16966021#iefix') format('embedded-opentype'),
    url('../font/fontello.woff2?16966021') format('woff2'),
    url('../font/fontello.woff?16966021') format('woff'),
    url('../font/fontello.ttf?16966021') format('truetype'),
    url('../font/fontello.svg?16966021#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?16966021#fontello') format('svg');
  }
}
*/

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-search:before {
  content: '\e800';
}

/* '' */
.icon-info-circled:before {
  content: '\e801';
}

/* '' */
.icon-align-justify:before {
  content: '\e802';
}

/* '' */
.icon-book:before {
  content: '\e803';
}

/* '' */
.icon-key:before {
  content: '\e804';
}

/* '' */
.icon-help-circled:before {
  content: '\e805';
}

/* '' */
.icon-info-1:before {
  content: '\e806';
}

/* '' */
.icon-info-circled-1:before {
  content: '\e807';
}

/* '' */
.icon-help:before {
  content: '\e808';
}

/* '' */
.icon-code:before {
  content: '\e809';
  font-size: 28px;
}

/* '' */
.icon-website:before {
  content: '\e80a';
}

/* '' */
.icon-website-circled:before {
  content: '\e80b';
}

/* '' */
.icon-brush:before {
  content: '\e80c';
  font-size: 28px;
}

/* '' */
.icon-brush-1:before {
  content: '\e80d';
}

/* '' */
.icon-brush-alt:before {
  content: '\e80e';
}

/* '' */
.icon-search-1:before {
  content: '\e80f';
}

/* '' */
.icon-ok:before {
  content: '\e810';
}

/* '' */
.icon-ok-circle:before {
  content: '\e811';
}

/* '' */
.icon-cancel:before {
  content: '\e812';
}

/* '' */
.icon-cancel-circle:before {
  content: '\e813';
}

/* '' */
.icon-plus:before {
  content: '\e814';
}

/* '' */
.icon-plus-circle:before {
  content: '\e815';
}

/* '' */
.icon-minus:before {
  content: '\e816';
}

/* '' */
.icon-minus-circle:before {
  content: '\e817';
}

/* '' */
.icon-info-2:before {
  content: '\e818';
}

/* '' */
.icon-pencil-alt:before {
  content: '\e819';
}

/* '' */
.icon-pencil:before {
  content: '\e81a';
}

/* '' */
.icon-pencil-neg:before {
  content: '\e81b';
}

/* '' */
.icon-user:before {
  content: '\e81c';
}

/* '' */
.icon-heart:before {
  content: '\e81d';
}

/* '' */
.icon-star:before {
  content: '\e81e';
}

/* '' */
.icon-pencil-1:before {
  content: '\e81f';
}

/* '' */
.icon-pencil-alt-1:before {
  content: '\e820';
}

/* '' */
.icon-edit:before {
  content: '\e821';
}

/* '' */
.icon-pencil-2:before {
  content: '\e822';
}

/* '' */
.icon-book-1:before {
  content: '\e823';
}

/* '' */
.icon-check:before {
  content: '\e824';
}

/* '' */
.icon-attach:before {
  content: '\e825';
}

/* '' */
.icon-link:before {
  content: '\e826';
}

/* '' */
.icon-left:before {
  content: '\e827';
}

/* '' */
.icon-right:before {
  content: '\e828';
}

/* '' */
.icon-theatre:before {
  content: '\e83a';
}

/* '' */
.icon-info:before {
  content: '\f129';
}

/* '' */
.icon-doc-text-inv:before {
  content: '\f15c';
}

/* '' */
.icon-child:before {
  content: '\f1ae';
}

/* '' */
.icon-user-circle:before {
  content: '\f2bd';
}

/* '' */
.icon-user-circle-o:before {
  content: '\f2be';
}

/* '' */
.icon-user-o:before {
  content: '\f2c0';
}

/* '' */