
.icon-search:before { content: '\e800'; } /* '' */
.icon-info-circled:before { content: '\e801'; } /* '' */
.icon-align-justify:before { content: '\e802'; } /* '' */
.icon-book:before { content: '\e803'; } /* '' */
.icon-key:before { content: '\e804'; } /* '' */
.icon-help-circled:before { content: '\e805'; } /* '' */
.icon-info-1:before { content: '\e806'; } /* '' */
.icon-info-circled-1:before { content: '\e807'; } /* '' */
.icon-help:before { content: '\e808'; } /* '' */
.icon-code:before { content: '\e809'; } /* '' */
.icon-website:before { content: '\e80a'; } /* '' */
.icon-website-circled:before { content: '\e80b'; } /* '' */
.icon-brush:before { content: '\e80c'; } /* '' */
.icon-brush-1:before { content: '\e80d'; } /* '' */
.icon-brush-alt:before { content: '\e80e'; } /* '' */
.icon-search-1:before { content: '\e80f'; } /* '' */
.icon-ok:before { content: '\e810'; } /* '' */
.icon-ok-circle:before { content: '\e811'; } /* '' */
.icon-cancel:before { content: '\e812'; } /* '' */
.icon-cancel-circle:before { content: '\e813'; } /* '' */
.icon-plus:before { content: '\e814'; } /* '' */
.icon-plus-circle:before { content: '\e815'; } /* '' */
.icon-minus:before { content: '\e816'; } /* '' */
.icon-minus-circle:before { content: '\e817'; } /* '' */
.icon-info-2:before { content: '\e818'; } /* '' */
.icon-pencil-alt:before { content: '\e819'; } /* '' */
.icon-pencil:before { content: '\e81a'; } /* '' */
.icon-pencil-neg:before { content: '\e81b'; } /* '' */
.icon-user:before { content: '\e81c'; } /* '' */
.icon-heart:before { content: '\e81d'; } /* '' */
.icon-star:before { content: '\e81e'; } /* '' */
.icon-pencil-1:before { content: '\e81f'; } /* '' */
.icon-pencil-alt-1:before { content: '\e820'; } /* '' */
.icon-edit:before { content: '\e821'; } /* '' */
.icon-pencil-2:before { content: '\e822'; } /* '' */
.icon-book-1:before { content: '\e823'; } /* '' */
.icon-check:before { content: '\e824'; } /* '' */
.icon-attach:before { content: '\e825'; } /* '' */
.icon-link:before { content: '\e826'; } /* '' */
.icon-left:before { content: '\e827'; } /* '' */
.icon-right:before { content: '\e828'; } /* '' */
.icon-theatre:before { content: '\e83a'; } /* '' */
.icon-info:before { content: '\f129'; } /* '' */
.icon-doc-text-inv:before { content: '\f15c'; } /* '' */
.icon-child:before { content: '\f1ae'; } /* '' */
.icon-user-circle:before { content: '\f2bd'; } /* '' */
.icon-user-circle-o:before { content: '\f2be'; } /* '' */
.icon-user-o:before { content: '\f2c0'; } /* '' */